<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RD Downloader</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">RD Downloader</h1>
        <form method="POST" action="/download-video/">
            {% csrf_token %}
            <div class="mb-3">
                <label for="video_url" class="form-label">Enter  URL:</label>
                <input type="url" class="form-control" id="video_url" name="video_url" placeholder="Enter a valid URL" required>            
            </div>
            <button type="submit" class="btn btn-success">Download Video</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>